@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  background-color: var(--color-base);
  color: var(--color-zero);
}

h1 {
  font-weight: 700;
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: var(--color-zero);
}
